# General
node_modules/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Image Frontend
image-frontend/node_modules/
image-frontend/.next/
image-frontend/out/
image-frontend/build/
image-frontend/dist/
image-frontend/.cache/
image-frontend/.eslintcache
image-frontend/coverage/
image-frontend/.nuxt/
image-frontend/.parcel-cache/
image-frontend/.turbo/
image-frontend/public/static/
image-frontend/public/build/
image-frontend/public/assets/
image-frontend/.env.local
image-frontend/.env.production.local
image-frontend/.env.development.local
image-frontend/.env.test.local

# Image Backend
image-backend/node_modules/
image-backend/build/
image-backend/dist/
image-backend/.cache/
image-backend/.eslintcache
image-backend/coverage/
image-backend/.env.local
image-backend/.env.production.local
image-backend/.env.development.local
image-backend/.env.test.local
image-backend/logs/
image-backend/tmp/
image-backend/*.log
image-backend/.nyc_output/
image-backend/.turbo/
image-backend/public/static/
image-backend/public/build/
image-backend/imgData/
